# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.xml

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

eigen-3.4.0
mnist-datasets
practice.cpp
build
include/eigen-3.4.0
settings.json
data/